[submodule "AdminLTE"]
	path = AdminLTE
	url = https://github.com/Jdude311/AdminLTE.git
[submodule "coreui-free-react-admin-template"]
	path = coreui-free-react-admin-template
	url = https://github.com/coreui/coreui-free-react-admin-template
